* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f5fafc;
    color: #12304a;
}

header {
    height: 70px;
    background: white;
    border-bottom: 1px solid #d9e3e8;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
}

.logo h2 {
    margin: 0;
}

.logo p {
    color: #647b8b;
    font-size: 14px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #536b7c;
    font-weight: bold;
}

main {
    padding: 85px 25px;
}

.hero {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.top-heading {
    color: #0785b7;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero h1 {
    font-family: Georgia, serif;
    font-size: 38px;
    margin: 25px 0;
}

.hero h2 {
    color: #087f7c;
    font-size: 26px;
}

.hero > p:last-child {
    color: #5b7385;
    font-size: 20px;
    line-height: 1.4;
    margin-top: 25px;
}

.cards {
    display: flex;
    gap: 22px;
    max-width: 1200px;
    margin: 55px auto;
}

.card {
    background: white;
    border: 1px solid #d8e3e8;
    border-radius: 25px;

    padding: 30px;
    flex: 1;

    min-height: 350px;

    display: flex;
    flex-direction: column;
}

.icon {
    width: 72px;
    height: 72px;

    background: #e4f6fa;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    color: #0785b7;
}

.card h2 {
    font-family: Georgia, serif;
    font-size: 28px;
    margin-top: 30px;
}

.card p {
    color: #5d7485;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 12px;
}

.card button {
    margin-top: auto;

    border: none;
    border-radius: 15px;

    background: #0785b7;
    color: white;

    padding: 18px;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

.card button:hover {
    background: #056e97;
}

footer {
    text-align: center;
    color: #60798a;
    padding: 20px;
}


@media (max-width: 800px) {

    .cards {
        flex-direction: column;
    }

    header {
        padding: 0 15px;
    }

    nav {
        gap: 10px;
    }

}